= form_for message, url: admin_message_path(message.id), method: :put, authenticity_token: true, html: { multipart: true } do |f|
  = f.file_field :image
  = f.text_field :message
  = f.submit 'update'
