%li.message
  #message_id
    %span message id:
    %span=message.id
  #message_image
    = image_tag(message.image.url)
  #edit_message
    = render partial: 'upload_form', locals: { message: message, method: :put, url: admin_message_path(message.id)}
