= form_for user, url: admin_user_path(user.id), method: :patch, html: { class: 'form-inline' } do |f|
  = f.collection_select :message_id, Message.all, :id, :message, {selected: user.message.id}, class: 'form-control select'
  = f.submit 'update', class: 'btn btn-primary'